

<!-- I really don't know how to do this shit yet  -->
<!-- But I learn really fucking quick!-->
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>
		Happy Food on Happy Island
	</title>
</head>

<body>
 	
 	<div id='container'>
		<div id='menuName'>
			<h1>Menu for Samurai</h1>
		</div>

	</div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/api.js"></script>

</body>

</html>