body{
	background-color: #AAAAAA;
}

#menuName{
	width: 350px;
	margin:0 auto;
	background-color: #BBBBBB;
}

#dataContainer {
	width: 400px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#buttons {
	text-align: center;
}
