body{
  background-color: #AAAAAA;
  font-size: 18px;
}

h1{
	color: #111111;
	text-align: center;
}

h2{
text-align: center;
}

#loading{
	text-align: center;
}

#dataContainer{
	text-align: center;
}

#credit_input{
	text-align: center;
}
/*#creditContainer{
	text-align: center;
}
*/
#container{
	text-align: center; 
}
