body{
  background-color: #96E026;
  font-size: 18px;
  color:  white;
}

h1{
	color: black;
	text-align: center;
}

h2{
text-align: center;
}

#loading{
	text-align: center;
}

#dataContainer{
	text-align: center;
}

#container{
	text-align: center; 
}
