body{
	background-color: #AAAAAA;
}

#menuName{
	text-align: center;
}

#totalOrderAmount{
	font-size: 20px;
	text-align: center;
}

#container{
	background-color: #999999;
	text-align: center;
}


/***********Styling not working!!!!!!!********/
#dataContainer{
	font-size: 15px;
	margin: 0 auto;
	max-width: 300px;
}

#theDataList button{
}

#orderTotal_text{
	text-align: center;
}

#orderTotal{
	width: 200px;
	margin:0 auto;
	background-color: #BBBBBB;
	text-align: center;
	font-size: 50px;
}

#confirm_button{
	width: 200px;
	margin:0 auto;
}